# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Temporales
*.tmp
*.bak
*.swp

# Dependencias si algún día usas herramientas
node_modules/
dist/
.cache/

# Datos privados
participantes.csv
participantes.xlsx
datos/
privado/
